<div class="container">
<h4>My Vulnerability Research Training</h4>
<div class="row">
    <div class="col-md-12">
        <div class="main-timeline7">
            <div class="timeline">
                <div class="timeline-icon"><i class="fa fa-globe"></i></div>
                <span class="year">‭300‬ Days</span>
                <div class="timeline-content">
                    <h5 class="title">Advanced Vulnerability Research Training</h5>
                    <p class="description">
                       <ul>
                           <li>Intro to Browser Exploitatio(windows xp)</li>
                           <li>Browser Exploitation</li>
                           <ul>
                               <li style="padding-right: 16px;">Intro to heap (browser) exploitation</li>
                               <li style="padding-right: 26px;">Memory leaks</li>
                           </ul>
                       </ul>
                    </p>
                </div>
            </div>
            <div class="timeline">
                <div class="timeline-icon"><i class="fa fa-rocket"></i></div>
                <span class="year">‭225‬ Days</span>
                <div class="timeline-content">
                    <h5 class="title">Vulnerability Research Training</h5>
                    <p class="description">
                       <ul>
                           <li>C/C++ Skills</li>
                           <li>Basic Reversing</li>
                           <li>Immunity Debugger</li>
                           <li>Wingdb</li>
                           <li>IDA Pro</li>
                           <li>More Topics About Exploit Development</li>
                           <ul>
                               <li>Egghunter</li>
                           </ul>
                       </ul>
                    </p>
                </div>
            </div>
            <div class="timeline">
                <div class="timeline-icon"><i class="fa fa-briefcase"></i></div>
                <span class="year">‭150‬ Days</span>
                <div class="timeline-content">
                    <h5 class="title">Introduction To Exploit Development Training</h5>
                    <p class="description">
                        <li>WinDbg</li>
                        <li>Mona 2</li>
                        <li>Structure Exception Handling (SEH)</li>
                        <li>Heap</li>
                        <li>Windows Basics</li>
                        <li>Introduction to shellcoding</li>
                        <ul>
                            <li>Manual</li>
                            <li>Msfvenom</li>
                            <li>Call / jmp / push esp technique</li>
                            <li>Pop pop ret</li>
                            <li>Call / jmp [reg + offset]</li>
                        </ul>
                        <li>Fuzzing</li>
                        <ul>
                            <li>Boofuzz</li>
                            <li>PeachFuzz</li>
                        </ul>
                        <li>Exploitme1 (ret eip overwrite)</li>
                        <ul>
                            <li>The Right Module</li>
                            <li>Bad Characters</li>
                        </ul>
                        <li>Exploitme2 (Stack cookies &amp; SEH)</li>
                        <ul>
                            <li>Non-safeseh Modules</li>
                            <li>Bypassing Safeseh</li>
                        </ul>
                        <li>Exploitme3 (DEP)</li>
                        <ul>
                            <li>Rop Chain</li>
                            <li>Ret2libc</li>
                        </ul>
                        <li>Exploitme4 (ASLR)</li>
                        <ul>
                            <li>Non-Aslr</li>
                            <li>2 Byte Overwrite</li>
                        </ul>
                        <li>Metasploit Modules TCP/UDP</li>

                    </p>
                </div>
            </div>
            <div class="timeline">
                <div class="timeline-icon"><i class="fa fa-mobile"></i></div>
                <span class="year">75 Days</span>
                <div class="timeline-content">
                    <h5 class="title">PWK Course / OSCP Training</h5>
                    <p class="description">
                    <ul>
                       <li>Information Gathering</li>
                       <li>Vulnerability Identification and Prioritization</li>
                       <li>Password Cracking & rule based</li>
                       <li>Research and Development</li>
                       <li>Exploitation</li>
                       <li>Linux & windows Local Privilege Escalation</li>
                       <li>Post-Exploitation</li>
                       <li>Expanding Influence</li>
                       <li>Client Side Attack Against Internal Network</li>
                       <li>Privilege Escalation Through AD Misconfigurations</li>
                       <li>Port Tunneling</li>
                       <li>SSH Tunneling with HTTP Encapsulation</li>
                       <li>Looking for High Value Targets</li>
                       <li>Exfiltration techniques</li>
                       <li>Domain Privilege Escalation</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
